<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>{{ page.title }}</title>
</head>
<body>
<div class="gutter">

    <div id="nav">
        <h1><a href="{{> root}}/{{ href }}">Styleguide</a></h1>
        {{#each pages}}
            {{#if isDirectory }}
                <h2 class="heading">{{ name }}</h2>
                <ul class="group">
                {{#each pages}}
                    <li>
                        {{#if isDirectory }}
                            <h3 class="heading">{{ name }}</h3>
                            <ul class="group">
                            {{#each pages}}
                                <li>
                                    {{#if isDirectory }}
                                        <h4 class="heading">{{ name }}</h4>
                                        <ul class="group">
                                        {{#each pages}}
                                            <li>
                                                <a href="{{> root}}/{{ href }}">{{ title }}</a>
                                            </li>
                                        {{/each}}
                                        </ul>
                                    {{else}}
                                        <a href="{{> root}}/{{ href }}">{{ title }}</a>
                                    {{/if}}
                                </li>
                            {{/each}}
                            </ul>
                        {{else}}
                            <a href="{{> root}}/{{ href }}">{{ title }}</a>
                        {{/if}}
                    </li>
                {{/each}}
                </ul>
            {{else}}
                <a href="{{> root}}/{{ href }}">{{ title }}</a>
            {{/if}}
        {{/each}}
    </div>

    <div id="content">
        {{#each page.sections }}
            <div class="section">
                {{#if comment}}
                    <div class="comment">{{{comment}}}</div>
                {{/if}}
                {{#if result}}
                    <div class="result">
                        <iframe id="iframe_{{{id}}}" height="0" src="about:blank"></iframe>
                        <script id="result_{{{id}}}" type="text/html">{{{ result }}}</script>
                        <script id="script_{{{id}}}">
                            var iframe  = document.getElementById('iframe_{{{id}}}');
                            var script  = document.getElementById('script_{{{id}}}');
                            var result  = document.getElementById('result_{{{id}}}');
                            var context = iframe.contentWindow.document;
                                context.open();
                                context.write('<!DOCTYPE html>');
                                context.write('<'+'html>');
                                context.write('    <'+'head>');
                                context.write('        {{> assets}}');
                                context.write('    <'+'/'+'head>');
                                context.write('    <'+'body>');
                                context.write(result.innerHTML);
                                context.write('    <'+'/'+'body>');
                                context.write('<'+'/'+'html>');
                                context.close();
                            result.parentNode.removeChild(result);
                            script.parentNode.removeChild(script);
                        </script>
                    </div>
                {{/if}}
                {{#if markup}}
                    <div class="markup">{{{markup}}}</div>
                {{/if}}
                {{#if styles}}
                    <div class="styles">{{{styles}}}</div>
                {{/if}}
            </div>
        {{/each}}
    </div>

</div>

    <script>
        window.onload = function() {
            var iframes = document.querySelectorAll('iframe');
            for ( var i = 0; i < iframes.length; i++ ){
                iframes[i].height = iframes[i].contentWindow.document.body.scrollHeight;
            }
        };
        var headings = document.querySelectorAll('#nav .heading');
        for ( var i = 0; i < headings.length; i++ ){
            headings[i].addEventListener('click', function () {
                this.classList.toggle('is-open');
                this.nextElementSibling.classList.toggle('is-open');
            });
        }
    </script>

    {{> theme}}
    {{> highlight}}

</body>
</html>
