<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>{{page.title}}</title>
</head>
<body>

<div class="gutter">

    <div id="nav">
        <h1><a href="{{> root}}/{{href}}">Styleguide</a></h1>
        {{#each pages}}
            {{#if isDirectory}}
                <h2 class="heading">{{name}}</h2>
                <ul class="group">
                {{#each pages}}
                    <li>
                        {{#if isDirectory}}
                            <h3 class="heading">{{name}}</h3>
                            <ul class="group">
                            {{#each pages}}
                                <li>
                                    {{#if isDirectory}}
                                        <h4 class="heading">{{name}}</h4>
                                        <ul class="group">
                                        {{#each pages}}
                                            <li>
                                                <a href="{{> root}}/{{href}}">{{title}}</a>
                                            </li>
                                        {{/each}}
                                        </ul>
                                    {{/if}}
                                    {{#if isFile}}
                                        <a href="{{> root}}/{{href}}">{{title}}</a>
                                    {{/if}}
                                </li>
                            {{/each}}
                            </ul>
                        {{/if}}
                        {{#if isFile}}
                            <a href="{{> root}}/{{href}}">{{title}}</a>
                        {{/if}}
                    </li>
                {{/each}}
                </ul>
            {{/if}}
            {{#if isFile}}
                <a href="{{> root}}/{{href}}">{{title}}</a>
            {{/if}}
        {{/each}}
    </div>

    <div id="content">
        {{#each page.sections}}
            <div class="section">
                {{#if comment}}
                    <div class="comment">{{{comment}}}</div>
                {{/if}}
                {{#if result}}
                    <div class="result">
                        <script class="result-placeholder" type="text/html">{{{result}}}</script>
                    </div>
                {{/if}}
                {{#if markup}}
                    <div class="markup">{{{markup}}}</div>
                {{/if}}
                {{#if styles}}
                    <div class="styles">{{{styles}}}</div>
                {{/if}}
            </div>
        {{/each}}
    </div>

</div>

<script class="result-template" type="text/html">
  <!DOCTYPE html>
  <html>
      <head>{{> assets}}</head>
      <body>[[body]]</body>
  </html>
</script>

{{> theme}}
{{> highlight}}
{{> scripts}}

</body>
</html>
