<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ page.title }}</title>
</head>
<body>
<div class="gutter">

    <div id="nav">
        <h1>Styleguide</h1>
        {{#each pages}}
            {{#if is_directory }}
                <h2 class="heading">{{ name }}</h2>
                <ul class="group">
                {{#each pages}}
                    <li>
                        {{#if is_directory }}
                            <h3 class="heading">{{ name }}</h3>
                            <ul class="group">
                            {{#each pages}}
                                <li>
                                    {{#if is_directory }}
                                        <h4 class="heading">{{ name }}</h4>
                                        <ul class="group">
                                        {{#each pages}}
                                            <li>
                                                <a href="{{> root}}/{{ href }}">{{ title }}</a>
                                            </li>
                                        {{/each}}
                                        </ul>
                                    {{else}}
                                        <a href="{{> root}}/{{ href }}">{{ title }}</a>
                                    {{/if}}
                                </li>
                            {{/each}}
                            </ul>
                        {{else}}
                            <a href="{{> root}}/{{ href }}">{{ title }}</a>
                        {{/if}}
                    </li>
                {{/each}}
                </ul>
            {{else}}
                <a href="{{> root}}/{{ href }}">{{ title }}</a>
            {{/if}}
        {{/each}}
    </div>

    <div id="content">
        {{#each page.sections }}
            <div class="section">
                {{#if comment}}
                    <div class="comment">{{{comment}}}</div>
                {{/if}}
                {{#if result}}
                    <div class="result">
                        <iframe id="iframe_{{{id}}}" height="0" src="about:blank"></iframe>
                        <script id="script_{{{id}}}">
                            var iframe  = document.getElementById('iframe_{{{id}}}');
                            var context = iframe.contentWindow.document;
                            var script  = document.getElementById('script_{{{id}}}');
                            context.open();
                            context.write('<!doctype html>'
                                +'<html>'
                                +'    <head>'
                                +'        {{> assets}}'
                                +'    </head>'
                                +'    <body>'
                                +'        {{{result}}}'
                                +'    </body>'
                                +'</html>');
                            context.close();
                            script.parentNode.removeChild(script);
                        </script>
                    </div>
                {{/if}}
                {{#if markup}}
                    <div class="markup">{{{markup}}}</div>
                {{/if}}
            </div>
        {{/each}}
    </div>

</div>

    <script>
        window.onload = function() {
            var iframes = document.querySelectorAll('iframe');
            for ( var i = 0; i < iframes.length; i++ ){
                iframes[i].height = iframes[i].contentWindow.document.body.scrollHeight;
            }
        };
        var headings = document.querySelectorAll('#nav .heading');
        for ( var i = 0; i < headings.length; i++ ){
            headings[i].addEventListener('click', function () {
                this.classList.toggle('is-open');
                this.nextElementSibling.classList.toggle('is-open');
            });
        }
    </script>

    {{> theme}}

</body>
</html>
