<!doctype html>
<html>
<head>
  <title>{{ this.title }}</title>
</head>
<body>
  <div>{{ this.path }}</div>
  {{#each sections }}
    <div>{{{ comment }}}</div>
    <div>{{{ result }}}</div>
    <div>{{{ markup }}}</div>
  {{/each}}
</body>
</html>
